// Catppuccin Latte color scheme for Just the Docs
// Based on https://github.com/catppuccin/catppuccin

// Base colors from Catppuccin Latte
$rosewater: #dc8a78;
$flamingo: #dd7878;
$pink: #ea76cb;
$mauve: #8839ef;
$red: #d20f39;
$maroon: #e64553;
$peach: #fe640b;
$yellow: #df8e1d;
$green: #40a02b;
$teal: #179299;
$sky: #04a5e5;
$sapphire: #209fb5;
$blue: #1e66f5;
$lavender: #7287fd;
$text: #4c4f69;
$subtext1: #5c5f77;
$subtext0: #6c6f85;
$overlay2: #7c7f93;
$overlay1: #8c8fa1;
$overlay0: #9ca0b0;
$surface2: #acb0be;
$surface1: #bcc0cc;
$surface0: #ccd0da;
$base: #eff1f5;
$mantle: #e6e9ef;
$crust: #dce0e8;

// --- //

$body-background-color: $base;
$sidebar-color: $mantle;
$body-text-color: $text;
$body-heading-color: $text;
$link-color: $sapphire;
$nav-child-link-color: $subtext1;
$search-background-color: $surface0;
$search-result-preview-color: $subtext0;
$border-color: $surface1;
$code-background-color: $surface0;
$feedback-color: $overlay0;
$table-background-color: $mantle;
$btn-primary-color: $blue;

// Catppuccin Latte color scheme for Just the Docs
// Based on https://github.com/catppuccin/catppuccin

// Base colors from Catppuccin Latte
$rosewater: #dc8a78;
$flamingo: #dd7878;
$pink: #ea76cb;
$mauve: #8839ef;
$red: #d20f39;
$maroon: #e64553;
$peach: #fe640b;
$yellow: #df8e1d;
$green: #40a02b;
$teal: #179299;
$sky: #04a5e5;
$sapphire: #209fb5;
$blue: #1e66f5;
$lavender: #7287fd;
$text: #4c4f69;
$subtext1: #5c5f77;
$subtext0: #6c6f85;
$overlay2: #7c7f93;
$overlay1: #8c8fa1;
$overlay0: #9ca0b0;
$surface2: #acb0be;
$surface1: #bcc0cc;
$surface0: #ccd0da;
$base: #eff1f5;
$mantle: #e6e9ef;
$crust: #dce0e8;

// --- //

$body-background-color: $base;
$sidebar-color: $mantle;
$body-text-color: $text;
$body-heading-color: $text;
$link-color: $sapphire;
$nav-child-link-color: $subtext1;
$search-background-color: $surface0;
$search-result-preview-color: $subtext0;
$border-color: $surface1;
$code-background-color: $surface0;
$feedback-color: $overlay0;
$table-background-color: $mantle;
$btn-primary-color: $blue;
